*, *::before, *::after {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
  }
  .img
  {
    display: block;
    width: 20%;
    height:20%; 
  }
  .slider
  {
    margin:0 auto;
    width:70vw;
  }
  .sidebar {
    grid-area: sidebar;
    background-color: hsl(265, 100%, 86%);
    border-left: 1px solid hsl(265, 100%, 56%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .sidebar-item {
    cursor: pointer;
    border: none;
    outline: none;
    background-color: hsl(265, 100%, 86%);
    padding: 1rem;
    position: relative;
    transition: background-color 150ms;
    /* border-right:2px solid #fff; */
  }
  
  .sidebar-item:hover, .sidebar-item:focus {
    background-color: hsl(265, 100%, 76%);
  }
  
  .sidebar-item.active {
    background-color: hsl(265, 100%, 70%);
  }
  
  /* .sidebar-item::after {
    content: '';
    position: absolute;
    width: 80%;
    left: 10%;
    bottom: 0;
    height: 1px;
    background-color: hsl(265, 100%, 46%);
  } */
  
  .sidebar-item:last-child::after {
    display: none;
  }
  
  .canvasobject
  {
    display: none;
  }
