@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

*,*::before,*::after{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body
{
font-family: 'Open Sans', sans-serif;
}
.img
{
    width:40%;
    height:40%;
    float: left;
    margin:3%;
}
.frontpage > h1
{
  text-align: center;
  font-size:250%;
  margin-bottom:2%;
}
.inputField
{
  display: grid;
  place-items:center;
}
.containers
{
  display: flex;
  flex-direction: row;
}
.inputField
{
  flex:1;
  background-color:#6C63FF;
  height:100vh;
  color:#fff;
}
.img-div
{
  flex:1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-div img{
  width:80%;
  height:100%;
}
#form
{
 display: grid;
 place-items: center;
}
input[type=file]
{
border-radius:12%;
}
#form h1
{
  font-size:5.5em;
}
#form button{
  width: 15vw;
  font-size: 1.7em;
  border-radius: 11px;
}